<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="UserManagementSuite" parallel="tests" thread-count="2">
  <test name="NoMocks">
    <classes>
      <class name="com.griddynamics.gridu.qa.user.CreateUserTest"/>
      <class name="com.griddynamics.gridu.qa.user.GetUserDetailsTest"/>
      <class name="com.griddynamics.gridu.qa.user.UpdateUserTest"/>
      <class name="com.griddynamics.gridu.qa.user.DeleteUserTest"/>
    </classes>
  </test>
</suite>